includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: 6
    phpVersion: 80400 # Force l'analyse pour PHP 8.4
    treatPhpDocTypesAsCertain: false
    paths:
        - dame.php
        - includes/
    excludePaths:
        - includes/lib/
    scanFiles:
        # Si vous avez besoin de fichiers spécifiques sans les exécuter
        - dame.php
