includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: 6
    phpVersion: 80400 # Force l'analyse pour PHP 8.4
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    paths:
        - dame.php
        - includes/
    excludePaths:
        - includes/lib/ (?)
    bootstrapFiles:
        - tests/phpstan/bootstrap.php
    scanFiles:
        - dame.php
    ignoreErrors:
        - '#Path in require_once\(\) .*includes/lib/.* is not a file or it does not exist\.#'
